/*弹出层部分开始
可以说弹出两层，小层的z-index要比大层高一
*/
#popBtn{
	position:absolute; 
	left:0; 
	top:80px;
	width:140px;
	height:50px;
	padding:10px;
	font-size:22px;
	font-weight:bold;
	cursor:pointer;
	border:2px solid #06f;
	background:#06F;
}
#overlay{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.7;
	filter:alpha(opacity:70);
	z-index:3000;
}
#littlelay{
	display:none;
	position:absolute;
	top:50%;
	left:50%;
	width:400px;
	height:200px;
	background:#fff;
	border:4px solid blue;
	margin:-102px 0 0 -202px;
	z-index:3001;
}
#littlelay h2{
	padding:2px;
	text-align:right;
	background:#06f;
	cursor:move;
	border-bottom:3px solid #06f;
}
#closelay{
	display:inline-block;
	width:20px;
	height:20px;
	line-height:24px;
	font-size:24px;
	color:#f90;
	text-align:center;
	cursor:pointer;
	background:#fff;
	border:2px solid red;
	padding:0 2px;
}
#littlelay p{
	font-size:40px;
	color:black;
	text-align:center;
}
/*弹出层部分结束*/
/*中间主要内容区域开始*/
.list{
	width:888px;
	margin:30px auto;
}
.box{
	position:relative;
	float:left;
	width:200px;
	height:130px;
	border:1px solid white;
	margin:10px;
}
.box a{
	position:absolute;
	left:0;top:0;
	display:block;
	width:200px;
	height:130px;
	color:red;
	font-size:22px;
	font-weight:bold;
	overflow:hidden;
	z-index:9;
}
.boxBor{
	position:absolute;left:0;top:0;display:none;border:1px solid white;z-index:4;
	background:#fff;
	background:-moz-linear-gradient(top,rgba(255,255,255,0.25),rgba(255,255,255,0.77));
	background:-webkit-linear-gradient(top,rgba(255,255,255,0.25),rgba(255,255,255,0.77));
	background:-o-linear-gradient(top,rgba(255,255,255,0.25),rgba(255,255,255,0.77));
	background:-ms-linear-gradient(top,rgba(255,255,255,0.25),rgba(255,255,255,0.77));
}
/*中间主要内容区域结束*/
/*底部选择区域开始*/
#menu{
	position:absolute;
	top:100px; right:0;
	width:128px;
	height:128px;
	text-align:center;
	z-index:2000;
}
#menu a{
	display:block;
}
#menu img{
	/*给图片设置宽高中的一个，另外一个会自动等比例缩放*/
	width:64px;
}
#menu .active{
	border:2px dashed red;
}
/*底部选择区域结束*/

