/*数字时钟开始
一个图片的尺寸是50*65,一个span的尺寸是65*65，同时有左右边距各15，
上面div的宽度=8*50+(65+15+15)*3 = 400+285 = 685
下面div的宽度=6*50+(65+15+15)*3 = 300+285 = 585
*/
a{
	color:#fff;
}
#wrapClock{
	position:absolute;
	left:50%; top:270px;
	margin-left:-180px;
	width:690px;
	height:240px;
	box-shadow:2px 2px;
	background:#ced7df;
}
#date{
	position:absolute;
	top:10px;
	width:685px; 
	height:70px;
}
#time{
	position:absolute;
	left:45px;
	bottom:20px;
	width:585px; 
	height:65px;
}
#wrapClock img{
	display:block;
	float:left;
	width:50px;
	height:65px;
	line-height:65px;
}
#wrapClock span{
	display:block;
	float:left;
	width:65px;
	height:65px;
	margin:0 15px;
	height:70px;
	line-height:70px;
	font-size:70px;
	color:#001163;
	font-weight:bolder;
}
/*数字时钟结束*/

/*主要列表区域开始
大盒子的宽度620*460,
*上面的两个按钮180*60,离开左右边距各100,它们的间距是60
*下面ul的尺寸620*380
*一个ul里面有六个li，每个li的尺寸290*50,每个li的下边距16,左右边距都是10
*最后两个li没有下边距,a链接的尺寸跟li的吃尺寸完全一样
总结，整个可视区域的宽度是600，高度是460，
多出来的20个像素用于左面一排li的左边距和右面一排li的右边距
*/
#wrap{
	position:relative;
	left:50%;
	width:620px;
	height:500px;
	margin:20px 0 0 -180px;
}
/*展开收回按钮开始*/
#wrap .listNav{
	position:absolute;
	display:block;
	top:0;
	width:180px;
	height:60px;
	line-height:60px;
	color:#333;
	text-align:left;
	font-size:22px;
	border-radius:5px;
	background:#f5f7fa;
}
#wrap .listNav:hover{
	color:#fff;
	background:#0099ff;
}
#wrap .select{
	left:0;
	background:#f5f7fa;
	
}
#wrap .collect{
	right:0;
}
#wrap .listNav span{
	float:right;
	display:block;
	width:0;
	height:0;
	margin:22px 6px 0 0;
}
#wrap .select span{
	border-top:20px solid black;
	border-left:14px solid rgba(255,255,255,0);
	border-right:14px solid rgba(255,255,255,0);
}
#wrap .collect span{
	border-bottom:20px solid black;
	border-left:14px solid rgba(255,255,255,0);
	border-right:14px solid rgba(255,255,255,0);
}
/*展开收回按钮结束*/
/*主要列表区域开始*/
#wrap .list{
	position:absolute;
	top:80px;
	width:620px;
	height:380px;
}
/*每一个li用的都是相对定位,参照点就是没采用相对定位的时候的自己，再次强调*/
#wrap li{
	position:relative;
	float:left;
	width:290px;
	height:50px;
	margin:0 10px 16px 10px;
	border-radius:5px;
	background:#f5f7fa;
	opacity:0;
	filter:alpha(opacity:0);
}
#wrap .list li.last{
	margin-bottom:0;
}
#wrap li a{
	display:block;
	width:290px;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#333;
	border-radius:5px;
	font-size:22px;
}
#wrap li a:hover{
	color:#fff;
	background:#0099ff;
}
/*主要列表区域结束*/
/*其他小作品开始*/
#other{
	position:relative;
	width:1002px;
	height:200px;
	margin:0 auto;
	background:#e8e8e8;
}
#other .floatLeft{
	position:absolute;
	left:-30px; top:25px;
	width:30px;
	height:150px;
	font-size:22px;
	text-align:center;
	text-shadow:1px 1px 1px;
	color:#323b43;
	box-shadow:-2px 2px 2px 2px #3300FF;
	background:#69F;
}
#list1{
  font-size: 0;
  position: relative;
  padding: 0;
  width: 960px;
  margin: 40px auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#list1 li{
  display: inline-block;
  width: 160px;
  height: 60px;
  background: #DA4453;
  font-size: 16px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#other .slider {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background: #46CFB0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/*  Ripple */


.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}

.rippleEffect {
  -webkit-animation: rippleDrop .6s linear;
  animation: rippleDrop .6s linear;
}
 @-webkit-keyframes 
rippleDrop {  100% {
 -webkit-transform: scale(2);
 transform: scale(2);
 opacity: 0;
}
}
 @keyframes 
rippleDrop {  100% {
 -webkit-transform: scale(2);
 transform: scale(2);
 opacity: 0;
}
}
/*左侧仿苹果列表开始*/
#applemenu{
	position:absolute;
	top:100px; left:200px;
	width:128px;
	height:128px;
	text-align:center;
	z-index:10000;
}
#applemenu a{
	display:block;
}
#applemenu img{
	/*给图片设置宽高中的一个，另外一个会自动等比例缩放*/
	width:64px;
}
#applemenu .active{
	border:2px dashed red;
}
/*左侧仿苹果列表结束*/
/*三级菜单开始*/
/* common styling */
#menu{
	position:absolute;
	left:40px; top:100px;
	/*这个宽度等于7个li的宽度加上7个边框的宽度*/
	width:924px; 
	height:30px;
}
#menu ul li{
	/*这是一个li的宽度*/
	width:130px;
	float:left; 
	border-left:2px solid #eee;
}
#menu a, #menu a:visited{
	display:block; 
	float:left; 
	width:125px; 
	padding:0 0 0 5px; 
	height:30px; 
	line-height:30px; 
	color:#fff;
	/*这是最上面一条的颜色*/
	background:#0099ff;
}
/*li中的ul，也就是下面一个第二行和第三行，默认是隐藏的*/
#menu li ul{
	display: none;
}
#menu ul li:hover a{
	color:#fff;
	/*鼠标移入第一排之后，被移入的那个li和第二排的颜色*/
	background:#b3ab79;
}
#menu ul li:hover ul{ 
	position:absolute; 
	display:block;
	width:924px; 
	left:0; top:30px;
	color:#fff;
	/*没有内容的左右两边的颜色*/
	background:#b3ab79;
}
#menu ul li:hover ul.right_side li{
	float:right;
	border-left:2px solid #eee;
}
#menu ul li:hover ul.left_side li{
	float:left;
	border-left:2px solid #eee;
}
#menu ul li:hover ul li a.hide{
	color:#fff;
}
#menu ul li:hover ul li:hover a.hide{
	background:#b3ab79; 
	color:#fff;
}
#menu ul li:hover ul li ul{
	display: none;
}
#menu ul li:hover ul li a{
	display:block; 
	background:#b3ab79; 
	color:#fff;
}
#menu ul li:hover ul li a:hover{
	background:#dfc184; 
	color:#000;
}
#menu ul li:hover ul li:hover ul{
	display:block; 
	position:absolute; 
	left:0; top:30px; 
	color:#000;
	/*鼠标移入第二排的颜色*/
	background:#dfc184;
}
#menu ul li:hover ul.right li{
	float:right;
}
#menu ul li:hover ul li:hover a.hide{
	background:#dfc184; 
	color:#000;
}
#menu ul li:hover ul li:hover ul li a{
	background:#dfc184; 
	color:#000;
}
#menu ul li:hover ul li:hover ul li a:hover{
	/*鼠标移入第三排的颜色*/
	background:#bd8d5e; 
	color:#fff;
}
/*三级菜单结束*/
/*其他小作品结束*/
@media screen and (max-width: 960px){
    #applemenu{
		display:none;
	}
}

